*{
    margin: 0;
    padding: 0;
}
.intro-cont{
    overflow-x: hidden;
    width: 90%;
    margin: 0 auto;
}
.intro-wrapper{
    /* border: 2px solid red; */
    margin-top: 100px;
    display: flex;
    padding: 0px 50px;
    gap: 20px;
    /* overflow-x: hidden; */
    /* overflow-x: scroll; */
    animation: autoscroll 30s linear infinite;
}
::-webkit-scrollbar{
    display: none;
}
.intro-img{
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
    color: purple;
    border-radius: 10px;
}
.intro-img > img{
    width: 300px;
    border-radius: 10px;
}
.intro-img > p{
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-self: flex-end;
    font-size: 28px;
}

@keyframes autoscroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translate(-180%);
    }
}

@media screen and (max-width:780px) {
    .intro-cont{
        border: 2px solid yellow;
        width: 100%;
        overflow-x: scroll;
        display: none;
    }
}