*{
    margin: 0;
    padding: 0;
}
.footer-title{
    width: 400px;
}
.Footer{
    /* width: 100%; */
    /* border: 2px solid green;; */
    margin-top: 20px;
    display: flex;
    padding: 50px;
    color: darkgray;
    /* background-color: rgb(45, 44, 44); */
    align-items: center;
    justify-content: space-around;
}
.footer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-mid{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.footer-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.socials{
    display: flex;
    gap: 10px;
    align-items: center;
    /* justify-content: center; */
    font-size: 32px;
}
.m-h{
    margin-bottom: 20px;
}
.footer-extra{
    flex: .55;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: flex-end; */
    padding-right: 30px;
    /* border: 2px solid green; */
}
.img-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-extra img{
    width: 100px;
}
.footer-right span{
    cursor: pointer;
}

@media (max-width:780px){
    .Footer{
        /* border: 2px solid black; */
        align-items: flex-start;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
    }
    .footer-left{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .footer-mid{
        font-size: 13px;
        margin-bottom: 20px;
        gap: 0px;
        row-gap: 0px;
        /* border: 2px solid yellow; */
    }
    .m-h{
        margin-bottom: 0px;
        font-size: 14px;
        /* border: 2px solid red; */
    }
    .socials{
        /* border: 1px solid red; */
        margin-top: 0px;
        font-size: 21px;
    }
    .footer-right{
        font-size: 13px;
        gap: 0px;
        margin-bottom: 10px;
    }
    .footer-right span{
        margin-bottom: 5px;
    }
    .footer-extra{
        align-items: normal;
        margin-top: 20px;
    }
    .footer-extra span{
        font-size: 13px;
    }
    .footer-extra div{
        /* border: 2px solid green; */
        align-items: flex-start;
    }
    .img-div{
        align-items: flex-start;
    }
    .img-div img{
        width: 70px;
    }
}